<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Classic Login Form Example</title>
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class='login' id='login'>
<p>Hi, </p>
<form action="/action_page.php">
    <input type="file" id="myFile" name="filename">
    <br>
    <input type="Submit">
    <br>
            <br>
    <div class="form">
<center><a href="home.html" class='btn-login'>Home</a></center></div><br>
<br>
</form>
</section>
<!--<script  src="./script.js"></script>-->

</body>
</html>